---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Fehlerportal - About"
  bodyClass="bg-slate-900 text-white bg-no-repeat bg-cover bg-[url('https://getwallpapers.com/wallpaper/full/8/7/4/979125-free-stars-desktop-backgrounds-1920x1080-lockscreen.jpg')] backdrop-blur-sm backdrop-brightness-50"
>
  <h1 class="text-center font-bold text-6xl pt-24">
    <a href="/"> Teachers' Lounge Information System</a>
  </h1>

  <h3 class="text-center font-semibold text-3xl pt-8">
    by <a
      href="https://github.com/AstragoDE"
      target="_blank"
      class="underline decoration-solid">Justus Seeck</a
    >
    and <a
      href="https://github.com/byRaize"
      target="_blank"
      class="underline decoration-solid">Joel Wiedemeier</a
    >
  </h3>

  <div class="flex justify-center pt-36">
    <img
      class="h-20"
      src="https://skillicons.dev/icons?i=astro,html,css,javascript,mysql"
      alt="Astro, HTML, CSS, JavaScript, MySQL"
    />
  </div>
</Layout>

<Footer />

<style>
  /* body {
    overflow: hidden;
  } */
</style>
