---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const prblmRq = await fetch("http://fehlerapi.school.justus-seeck.de/problems");
const trnsRq = await fetch(
  "http://fehlerapi.school.justus-seeck.de/translations"
);

const problems = await prblmRq.json();
const translations = await trnsRq.json();

function getTranslation(code, type, getDescription = false) {
  return translations.map(function (t) {
    if (t.code == code && t.type == type) {
      if (getDescription) return t.description;
      return t.text;
    }
  });
}
---

<Layout hideScrollbar={true}>
  <Header fehlerzahl={problems.length.toString()} />
  <h1 class="pt-[4.5rem]"></h1>

  <table class="w-full">
    <thead class="bg-slate-100 text-xs uppercase">
      <tr>
        <th class="text-center py-3" style="width: 7.5%">Raum</th>
        <th class="text-center py-3" style="width: 55%">Fehler</th>
        <th class="text-center py-3" style="width: 22.5%">Status</th>
        <th class="text-center py-3" style="width: 15%">Datum</th>
      </tr>
    </thead>

    {
      problems.map((problem) => (
        <tbody>
          <tr
            class={`text-sm
              ${problem.status == 100 && "bg-green-200"}
              ${problem.status >= 20 && problem.status <= 99 && "bg-yellow-200"}
              ${problem.status >= 0 && problem.status <= 19 && "bg-red-200"}`}
          >
            <td class="text-center py-4">{problem.room}</td>
            <td class="text-center py-4">
              <b>{getTranslation(problem.category, "problemType")}</b>
              <br />
              {problem.problemDescription}
            </td>
            <td class="text-center py-4">
              {getTranslation(problem.status, "problemStatus")}
            </td>
            <td class="text-center py-4">
              {new Date(problem.date).toLocaleDateString()}
            </td>
          </tr>
        </tbody>
      ))
    }
  </table>

  <Footer />
  <div class="py-[16px]"></div>
</Layout>

<script>
  import $ from "jquery";

  // CONFIGURATION:
  let enableScrolling = true;

  if (enableScrolling) {
    $(document).ready(function () {
      var isNotScrolling = true;
      var ort = 0;

      function scrollDone() {
        // alert("Scroll Done")
        setTimeout(() => {
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          });
        }, 5000);
        setTimeout(() => {
          window.location.reload();
        }, 6000);
      }

      function scrollDownUntilEndOfPage() {
        if (isNotScrolling) {
          scrollDone();
          return;
        } else {
          setTimeout(() => {
            ort += 1;
            window.scrollTo({
              top: ort,
              behavior: "auto",
            });
            scrollDownUntilEndOfPage();
          }, 12);
        }
      }

      // REAGIERT NUR, WENN WIRKLICh GESCROLLT WIRD
      // TODO: Check einbauen, der reload triggert, auch wenn die seite nicht gescrollt wird
      window.onscroll = function () {
        if (
          window.innerHeight + window.pageYOffset >=
          document.body.offsetHeight
        ) {
          isNotScrolling = true;
          // alert("At the bottom!")
        }
      };

      // Check if there is no scroll bar
      // SOURCE: https://stackoverflow.com/a/2146903
      if ($("body").height() <= $(window).height()) {
        // alert("NO Vertical Scrollbar! D:");
        scrollDone();
      }

      // ======================================================================================

      setTimeout(() => {
        isNotScrolling = false;
        scrollDownUntilEndOfPage();
      }, 4000);
    });
  }
</script>
